<div id="background_for_loser">

  <div id="loser_quote">
  </div>
  <div id="facebook">
      <form action="http://www.facebook.com/Three_Towers" method="get">
      <button type="submit" name="home_button" id="facebook_button2" class="btn-primary">FACEBOOK</button>
    </form>
  </div>
  <div id="twitter">
      <form action="http://www.twitter.com/Three_Towers" method="get">
      <button type="submit" name="home_button" id="twitter_button2" class="btn-info">TWITTER</button>
    </form>
  </div>
  <div id="play_again">
    <form action="/games/new" method="get">
      <button type="submit" name="home_button" id="home_button2" class="btn-danger">PLAY AGAIN</button>
    </form>
  </div>
</div>