<div id="background">

<div id="start_banner">
<div>
  <form action="/games" method="post">
    <button type="submit" name="start button" id="start" class="btn-danger">START GAME</button>
  </form>
</div>
</div>
</div>