<div id="background">

<div id="start_banner">

</div>
<div>
  <form action="/games" method="post">
    <button type="submit" name="start button" id="start" class="btn-danger">START GAME</button>
  </form>
</div>
  <div id="facebook">
      <form action="http://www.facebook.com/Three_Towers" method="get">
      <button type="submit" name="home_button" id="facebook_button3" class="btn-primary">FACEBOOK</button>
    </form>
  </div>
  <div id="twitter">
      <form action="http://www.twitter.com/Three_Towers" method="get">
      <button type="submit" name="home_button" id="twitter_button3" class="btn-info">TWITTER</button>
    </form>
  </div>
</div>