<div id="background_for_winner">

  <div id="winner_quote">
  </div>
  <div id="facebook">
      <form action="http://www.facebook.com/Three_Towers" method="get">
      <button type="submit" name="home_button" id="facebook_button" class="btn-primary">FACEBOOK</button>
    </form>
  </div>
  <div id="twitter">
      <form action="http://www.twitter.com/Three_Towers" method="get">
      <button type="submit" name="home_button" id="twitter_button" class="btn-info">TWITTER</button>
    </form>
  </div>
  <div id="play_again">
    <form action="/games/new" method="get">
      <button type="submit" name="home_button" id="home_button" class="btn-danger">HOME</button>
    </form>
  </div>
</div>