@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900);


.frame {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width:1200px;
  height: 650px;
  background-color: white;
  border: 1px solid black;
  background-image: url("/images/background_3.png");
  background-size: 100%;
  background-position: left top;
}

.subtle-shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.basic-card-div {
  border-radius: 4px;
  -webkit-user-select:none;
}

.shield-indicator {
  background:
}

#bottom-frame {
  bottom:60px;
  position: absolute;
  width: 100%;

}
#played-card-container {
  margin-top:10px;
}
#hand {
  margin-left: auto;
  margin-right: auto;
}
.invisible div {
  visibility: hidden;
}
.veil {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.image-veil {
  opacity: 0.2;
}
.veilable {
}
.card {
  text-align:left;
  background-color: grey;
  cursor:default;
  width: 170px;
  height: 280px;
  margin: 0 auto;
  padding-top: 2px;
  display:inline-block;
}

.card-title {
  width:auto;
  height:7%;
  margin: 0% auto;
  padding-left:10px;
  font-family: Futura;
  font-size:16px;
  display: inline-block;
}
.card-image {
  background-color:white;
  width: 90%;
  height: 40%;
  margin: 4% auto;
}

.card-image-image {
  -webkit-user-drag: none;
  display: block;
  position: relative;
  height: 100%;
  margin: 0 auto;
  border-radius:4px;
}

.card-type-band {
  background-color: white;
  width: 90%;
  height: 20px;
  margin: 4% auto;
  bottom:9px;
}
.card-description {
  background-color: white;
  width: 90%;
  height: 30%;
  margin: 4% auto;
  vertical-align: bottom;
  position: relative;
  overflow: auto;
  font-weight: bold;
  margin-bottom:0;
}
.card-description-text {
  font-family: Lato;
  font-size: 11px;
  color:#505050;
  padding:4px;
  margin:0;
}

.card-type-text {
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  color:#505050;
  padding:0px 4px;
  margin:0;

}

.discard-button {
  /*height:30px;*/
  width:70px;
  display:inline-block;
  text-align:center;
  /*margin-right:8px;
  margin-top:3px;*/
  border-radius:4px;
  background-color:rgba(105,105,105,0.4);
}
.discard-button:hover {
  color:#D83030;
  font-weight:bolder;
}
.card-attribute-indicator {
  height:18px;
  width:18px;
  color: black;
  text-align:center;
  padding:0 0 5px 0;
  line-height:17px;
  vertical-align:middle;
  display:none;
  float:right;
  margin-right:9px;
  margin-top:5px;
  border-radius:100%;
  font-weight:bold;

}
.card-mana-indicator{
  background-color:#85CCD8;
}

.card-stamina-indicator{
  background-color:#ff6666;
}

.card-gold-indicator{
  background-color:#E6E62C;
}
.inline-block {
  display: inline-block;
}

.card-bottom-band {
  margin: 0 auto;
  text-align: center;
}

.attack {
  background-color:#4BA2E6;
}

.item {
  background-color:#719E3B;
}

.magic {
  background-color:#9F67A2;
}
#hand-card-1 {
  transform: translateY(35px) rotate(-10deg);
  position:relative;
  z-index:1;
}

#hand-card-2 {
  transform: translateY(10px) rotate(-5deg);
  position:relative;
  z-index:2;
}

#hand-card-3 {
  position:relative;
  z-index:3;
}

#hand-card-4 {
  transform: translateY(10px)  rotate(5deg);
  position:relative;
  z-index:4;
}

#hand-card-5 {
  transform: translateY(35px) rotate(10deg);
  position:relative;
  z-index:5;
}

#pass-button {
  background-color:red;
  width: 60px;
  height: 40px;
}
#played-card-container {
  display: inline-block;
}

#player-alert-box {
  text-align:center;
  color:red;
  margin: auto;
  font-family: Futura;
  font-size:30px;
}
#played-card {
  font-family: Futura;
  font-size: 40px;
  text-align: center;
  line-height: 280px;
  vertical-align: middle;
}

#deck {
  font-family: Futura;
  font-size: 40px;
  text-align: center;
  position:relative;
  top:-32.8%;
  left:-1%;
  background-image: url("/images/deck.png");
  background-size: 170px 280px;
}

.indicator {
  font-family: Futura;
  text-align:left;
  border-radius:100%;

}

.indicator-box {
  position: absolute;
}

#indicator-box-p1 {

}

#indicator-box-p2 {
  right:0;

}

.p1-indicator {

}

.p2-indicator {
  float: right;
  position: relative;
  clear: right;
}
.castle-indicator {
  height:150px;
  width: 150px;
  font-size:60px;
}
.shield-indicator {
  height: 75px;
  width: 75px;
  font-size:40px;
}

.mana-indicator {
  height: 70px;
  width: 70px;
  font-size: 30px;
  background-color: #85CCD8;
}
.stamina-indicator {
  height: 70px;
  width: 70px;
  font-size: 30px;
  background-color: #ff6666;
}
.gold-indicator {
  height: 70px;
  width: 70px;
  font-size: 30px;
  background-color: #E6E62C;
}

#mana-indicator-p1 {
  text-align:center;
  line-height:60px;
  vertical-align:middle;
}
#mana-regen-indicator-p1 {
  position:relative;
  right:40px;
  bottom:25px;
}
#stamina-indicator-p1 {
  text-align:center;
  line-height:60px;
  vertical-align:middle;
}
#stamina-regen-indicator-p1 {
  position:relative;
  right:40px;
  bottom:25px;
}
#gold-indicator-p1 {
  text-align:center;
  line-height:60px;
  vertical-align:middle;
}
#gold-regen-indicator-p1 {
  position:relative;
  right:40px;
  bottom:25px;
}
#mana-indicator-p2 {
  text-align:center;
  line-height:60px;
  vertical-align:middle;
}
#mana-regen-indicator-p2 {
  position:relative;
  left:43px;
  top:45px;
  float:right;
}
#stamina-indicator-p2 {
  text-align:center;
  line-height:60px;
  vertical-align:middle;
}
#stamina-regen-indicator-p2 {
  float:right;
  position:relative;
  left:43px;
  top:45px;
}
#gold-indicator-p2 {
  text-align:center;
  line-height:60px;
  vertical-align:middle;
}
#gold-regen-indicator-p2 {
  float:right;
  position:relative;
  left:43px;
  top:45px;
}
.shit-label{
  float:right;
  clear:both;
  margin:0;
  padding:0;
}
/*.castle-indicator.max-attribute {
  font-weight:bolder;
  font-size: 70px;
  color:green;
}

.shield-indicator.max-attribute {
  font-weight:bolder;
  font-size: 50px;
  color:green;
}*/
