@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900);

.frame {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width:1200px;
  height: 650px;
  background-color: white;
  border: 1px solid black;
}

.subtle-shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.basic-card-div {
  border-radius: 4px;
  -webkit-user-select:none;
}

#bottom-frame {
  bottom:50px;
  position: absolute;
  width: 100%;
}

#hand {
  margin-left: auto;
  margin-right: auto;
}
.card {
  text-align:left;
  background-color: #49825F;
  cursor:default;
  width: 170px;
  height: 280px;
  margin: 0 auto;
  padding-top: 2px;
  display:inline-block;

}

.card-image {
  background-color:white;
  width: 90%;
  height: 40%;
  margin: 4% auto;
}

.card-image-image {
  -webkit-user-drag: none;
  display: block;
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.card-cost-band {
  background-color: #F7F7F7;
  width: 90%;
  height: 7%;
  margin: 4% auto;
}
.card-description {
  background-color: #F7F7F7;
  width: 90%;
  height: 30%;
  margin: 4% auto;
  vertical-align: bottom;
  position: relative;
}
.card-description-text {
  font-family: Lato;
  font-size: 11px;
  color:#505050;
  padding:4px;
  margin:0;
}
/*
.card-bottom-band {
  background-color: #F7F7F7;
  width: 90%;
  height: 10%;
  margin: 4% auto;
}*/

#hand-card-1 {
  transform: translateY(35px) rotate(-10deg);
}

#hand-card-2 {
  transform: translateY(10px) rotate(-5deg);
}

#hand-card-3 {
}

#hand-card-4 {
  transform: translateY(10px)  rotate(5deg);
}

#hand-card-5 {
  transform: translateY(35px) rotate(10deg);
}

#played-card {

}

#deck {

}

.indicator {
  border: 1px solid black;
}

.indicator-box {
  position: absolute;
}

#indicator-box-p1 {

}

#indicator-box-p2 {
  right:0;

}

.p1-indicator {

}

.p2-indicator {
  float: right;
  position: relative;
  clear: right;
}
.castle-indicator {
  background-color: red;
  height:150px;
  width: 150px;
}
.shield-indicator {
  background-color: white;
  height: 75px;
  width: 75px;
}
.mana-indicator {
  background-color: green;
  height: 50px;
  width: 50px;
}
.stamina-indicator {
  background-color: grey;
  height: 50px;
  width: 50px;
}
.gold-indicator {
  background-color: yellow;
  height: 50px;
  width: 50px;
}
