@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900);

.frame {
  height: 650px;
  width: 1200px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  background-image: url("/images/background_3.png");
  background-size: 100%;
  background-position: left top;
}

#bottom-frame {
  position: relative;
  bottom: -2%;
}

#hand {
  margin: auto;
}

#player-alert-box {
  margin: auto;
  text-align: center;
  font-family: Futura;
  font-size: 30px;
  color: red;
}
