#start {
  min-width: 30%;
  position: relative;
  top: 25%;
  left: 37.5%;
  z-index: 1;
}

#start_banner {
  background-image: url(http://i.imgur.com/pYWjqdL.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 60%;
  width: 100%;
  position: relative;
}

#background {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/0f/8a/af/0f8aaf1f8f03782715a9c4b61b944759.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

#background_for_winner {
  background-image: url(https://media.giphy.com/media/3o85xyGspig9UUbHc4/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

#winner_quote {
  background-image: url(http://i1279.photobucket.com/albums/y523/textcraft/May%202016%20-%204/088fb1a4ab057f4fcf7d487006499060c7fe57738d6d0f5e70724c4e590020d3876dc8fa66ba53d1ba9bd8f05891b49246ae332611cba5806036e1235fba_zpsizshecfs.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 60%;
  width: 100%;
  position: relative;
}

#background_for_loser {
  background-image: url(https://media.giphy.com/media/12eTGMjnCuXSzC/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

#loser_quote {
  background-image: url(http://i1279.photobucket.com/albums/y523/textcraft/May%202016%20-%204/088fb1a4ab057f4fcf7d487006499060c7fe577305ca472b74700d7043db6810c3f118fca0a813aaba9bd8f05891b49246ae332611cba5806036e1235fba_zpsgkvbcldm.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 40%;
  width: 100%;
  position: relative;
}

#home_button {
  min-width: 100px;
  position: relative;
  top: 15%;
  left: 43%;
}

#twitter_button {
  min-width: 100px;
  position: relative;
  top: 18.5%;
  left: 43%;
}

#facebook_button {
  min-width: 100px;
  position: relative;
  top: 22%;
  left: 43%;
}

#home_button2 {
  min-width: 100px;
  position: relative;
  top: 50%;
  left: 43%;
}

#twitter_button2 {
  min-width: 100px;
  position: relative;
  top: 53.5%;
  left: 43%;
}

#facebook_button2 {
  min-width: 100px;
  position: relative;
  top: 57%;
  left: 43%;
}

#twitter_button3 {
  min-width: 30%;
  position: relative;
  top: 25%;
  left: 37.5%;
  z-index: 1;
}

#facebook_button3 {
  min-width: 30%;
  position: relative;
  top: 25%;
  left: 37.5%;
  z-index: 1;
}