#start {
  height: 100%;
  width: 25%;
  position: relative;
  top: 110px;
  left: 37.5%;
}

#start_banner {
  background-image: url(http://i.imgur.com/pYWjqdL.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

#background {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/0f/8a/af/0f8aaf1f8f03782715a9c4b61b944759.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}